<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <!--设置数据库方言-->
        <property name="dialect" value="mysql"/>
    </properties>
    <settings>
        <!--设置mybatis日志-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
</configuration>